* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 13px;
}

body {
  color: black;
  margin: 0;
  font-family: Verdana, Geneva, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
